@charset "utf-8";
/* CSS Document */

.navbar-principal{
	margin: 60px 0 0;
	border: none;
	background: none;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: lowercase;	
}

.navbar-principal .container-fluid{
	padding: 0;
}

.navbar-collapse{
	padding: 0;
}

.menu-principal{
	float: right;
	padding: 0;
	margin: 0;
}

@media (max-width: 380px) {
	.navbar-principal{
		margin: 30px 0 0;
		font-size: 16px;
	}

	.menu-principal{
		float: none;
		padding: 0;
		margin: 0 auto;
		text-align: center;
	}

}

.navbar-principal .menu-principal > li > a{
	padding: 10px 0 10px 20px;
	color: #1c1c1c;	
}

.navbar-principal .menu-principal > li > a:hover,
.navbar-principal .menu-principal > li > a:focus,
.navbar-principal .menu-principal > .active > a, .navbar-principal .menu-principal > .active > a:focus{
	color: #848383;
	background: none;	
}

.navbar-principal .menu-principal > .active > a:hover{
	color: #1c1c1c;			
	background: none;	
}

.navbar-toggle{
	margin-top: 50px;
}

.categoria-sidebar{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: lowercase;	
	list-style: none;
}