@charset "utf-8";
/* CSS Document */

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Open+Sans:400,700');

/* CSS Imports */

@import 'menu.css';
@import 'textos.css';

/* Estrutura */

body{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #1c1c1c;
}

.header{
	padding: 20px 0;
}

.logo-mobile{
	padding: 0 20px;
}

.info-topo{
	color: #848383;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}

.info-topo a,
.espaco-topo{
	padding: 0 0 0 10px;
	color: #848383;
}

.cab-page{
	margin: 45px;
}

.slider{
	margin-bottom: 100px;
	position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: 50px !important;
    left: 0;
    z-index: 15;
    width: 20%;
	margin-left: 0;
	text-align: left;
    padding-left: 0;
    list-style: none;
	background: #fff;
}

@media (max-width: 460px) {
	.carousel-indicators {
		position: absolute;
		bottom: 0 !important;
		left: 0;
		z-index: 15;
		width: 20%;
		margin-left: 0;
		text-align: left;
		padding-left: 0;
		list-style: none;
		background: #fff;
	}
}
.carousel-indicators .active {
    width: 9px;
    height: 9px;
    margin: 0;
    background-color: #acacac;
}

.carousel-indicators li {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #edecec;
    border: none;
    border-radius: 10px;
}

.internas{
	margin: 0 0 100px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px;
	margin: 0 0 30px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
	border-radius: 0;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid  transparent;
  border-bottom: 2px solid #ccc;
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}

.footer{
	color: #848383;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

.footer a{
	color: #848383;
}

/* Botões */

.btn-jtorres,
.more-link{
	background: #f7f7f7;
	color: #9b9b9b;
	padding: 3px 12px;
	font-size: 13px;
	font-weight: 400;
	text-transform: lowercase;
	border-radius: 0;
	border:1px solid #9b9b9b;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.btn-jtorres:hover,
.btn-jtorres:focus,
.more-link:hover,
.more-link:focus{
	background: #9b9b9b;
	color: #fff;
	border-radius: 0;
	text-decoration: none;

}

.more-link{
	margin-top: 20px;
	display: inline-block;
}

.margin-artistas,
.margin-exposicao{
	margin-bottom: 25px;
}

.margin-obras-artistas {
    margin-bottom: 25px;
}

.margin-box-artistas{
	margin-bottom: 50px;
	margin-left: 0;
	margin-right: 0;
}

.foto-artistas{
	background: #f7f7f7;
	padding-right: 0;
    padding-left: 15px;
}

@media (max-width: 460px) {
  .foto-artistas{
    padding-right: 0;
    padding-left: 0;
  }
}

.box-artistas{
	background: #f7f7f7;
    padding: 25px 15px 25px 25px;
    min-height: 445px;
}

.btn-box-artista{
	position: absolute;
	bottom: 25px;
}

.box-obras,
.box-exposicao{
	background: #f7f7f7;
	padding: 20px 0;
	margin-right: 0;
	margin-left: 0;
}

.box-exposicao{
	margin-bottom: 50px;
}

.margin-obras-series{
	margin-bottom: 50px;
}

.btn-box-obras{
	 /* habilita o flex nos filhos diretos */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
	
/* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}


/* Slide Fade */

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* Images */
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft {
    margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
    margin: 5px 10px 5px 0;
}

img.alignright {
    margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
    margin: 5px 0 5px 10px;
}

img.aligncenter {
    margin: 5px auto;
}

img.alignnone {
    margin: 5px 0;
}

.wp-caption img,
.wp-caption {
    width:auto !important;
    max-width:100% !important;
    height:auto !important;
}

/* Slide */

.carousel-control-exposicao {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4%;
  width: 4%;
  font-size: 24px;
  color: #fff !important;
  text-align: center;
}
.carousel-control-exposicao.right {
  right: 0;
  left: auto;
}
.carousel-control-exposicao:hover,
.carousel-control-exposicao:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=70);
  outline: 0;
  opacity: .7;
}
.carousel-control-exposicao .glyphicon-menu-left,
.carousel-control-exposicao .glyphicon-menu-right {
  position: absolute;
  top: 95%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control-exposicao .glyphicon-menu-left {
  left: 53%;
  margin-left: -10px;
}
.carousel-control-exposicao .glyphicon-menu-right {
  right: 56%;
  margin-right: -10px;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}