@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p72s3w');
  src:  url('../fonts/icomoon.eot?p72s3w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p72s3w') format('truetype'),
    url('../fonts/icomoon.woff?p72s3w') format('woff'),
    url('../fonts/icomoon.svg?p72s3w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}

/* Slides */

.titulo-slide{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	margin: 10px 0 0;
}

.subtitulo-slide{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
}

.data-slide{
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}

.titulo-slide a,
.subtitulo-slide a,
.data-slide a{
	text-decoration: none;
}

.titulo-slide a:hover,
.subtitulo-slide a:hover,
.data-slide a:hover{
	opacity: 0.7;
}
/* Exposicoes */

.titulo-exposicoes{
	font-family: 'Lato', sans-serif;
	font-size: 27px;
	margin: 10px 0 0;
}

.subtitulo-exposicoes{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	text-transform: capitalize;
	margin: 10px 0;

}

.data-exposicoes{
	margin: 10px 0 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px !important;
}

.data-archive-exposicoes{
	margin: 0 0 5px !important;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}


/* Estilos */

.slide-bold,
.exposicoes-bold{
	font-weight: 700 !important;
}

.slide-regular,
.exposicoes-regular{
	font-weight: 400 !important;
}

.slide-light,
.exposicoes-light{
	font-weight: 300 !important;
}

/* Internas */

.page-header{
    margin: 20px 0 0;
	padding: 0;
	border: none;
}

.page-header h1{
	margin: 0;
	color: #1c1c1c;
	font-size: 16px;
	font-weight: 400;
}

.internas p{
	margin-bottom: 20px;
	line-height: 22px;	
}

.internas a{
	color: #1c1c1c;
}

.page h2{
	color: #000;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 20px;
}

.titulo-artista-archive{
	margin: 5px 0 0;
	color: #1c1c1c;
	font-size: 15px;
	font-weight: 600;
}

.titulo-artista{
	margin: 0 0 20px;
	color: #353535;
	font-family: 'Lato', sans-serif;
	font-size: 27px;
}

.box-artistas p{
	font-size: 14px;
}

.titulo-obras{
	margin: 0 0 10px;
	color: #353535;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.box-obras p,
.box-exposicao p{
	line-height: 1.3em;
	font-size: 14px;
	margin: 0;
	
}

.header-artista-exposicao{
	margin: 10px 0;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 700;
}

.titulo-artista-exposicao{
	margin: 3px 0 0;
	color: #353535;
	font-size: 16px;
	font-weight: 700;
}

.titulo-obra-exposicao{
	margin: 3px 0 0;
	color: #777777;
	font-size: 14px;
	font-style: italic;
}

.texto-descricao{
	line-height: 1.3em !important;
	font-size: 14px;
	color: #777777;
	margin-top: 3px !important;
	margin-bottom: 0 !important;
}

.titulo-post{
	font-family: "Open Sans", sans-serif;
	font-size: 27px;
}

.titulo-post a{
	text-decoration: none;
}
.titulo-post a:hover{
	opacity: 0.7;
}

.wp-caption-text{
	font-size: 13px;
}

.tiulo-veja{
	font-weight: 700;
}